[phases.setup]
nixPkgs = ["python310"]

[phases.install]
cmds = ["python -m pip install -r requirements.txt"]

[phases.build]
cmds = ["echo 'Build complete'"]

[start]
cmd = "cd src && python compliance_api.py"
