@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-gray-200;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-black text-slate-50;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded hover:bg-slate-500;
}
