name: CD

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:latest .
          echo "Docker image has been built successfully"

      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
          echo "Docker image has been pushed successfully"

      - name: Deployment Complete
        run: echo "CD pipeline completed successfully."
