name: CI

on:
  pull_request:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          echo "Installing Dependencies..."
          pip install -r requirements.txt
          pip install black flake8 mypy bandit pip-audit
          echo "Done"

      - name: Lint The Code
        run: |
          black --check .
          mypy .
          flake8 .

      - name: Security Scan
        run: |
          echo "Running Security Scan..."
          bandit -r src
          pip-audit
          echo "Done"

      - name: Run Tests
        run: |
          echo "Running tests..."
          pytest -q
          echo "Done"
